@model EF6WhatsNew.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>Post</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Content)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Content)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PkPostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
